<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>boka</title>
</head>
<body>
    <h1>Boka</h1>
    <form action="/book" method="post">
        Ange det datun du önskar boka: <input type="date" name="date" required>
        Ange den tid du önskar boka: <input type="time" name="time" required>
        Ange e-post för bokningen: <input type="email" name="email" required>
        <button type="submit">Boka</button>
    </form>
    {% if bookings %}
    <ul>
        {% for booking in bookings %}
        <li>{{ booking }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>